.handleAutoModalBody {
    position: relative;
    top: 40%;
    left: 50%;
    z-index: 90000;
    width: 400px;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 2px solid white;
    box-shadow: 24px;
    color: white;
    border-radius: 5px;
    padding: 14px;
}

@media screen and (max-width: 750px) {
    .handleResponsiveBtn{
        margin-left: 0px;
    }
}