.banner-button {
    border-radius: 25px !important;
}

.banner {
    /* background-image: url("../public/images/banner-bg.png"); */
    background-size: cover;
    background-repeat: no-repeat;
}

.payment-option {
    cursor: pointer;
}