.banner-button {
    background-image: linear-gradient(to right, #FF512F 0%, #db1528 51%, #FF512F 100%);
    margin: 10px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.hidetxt {
    visibility: hidden;
}

.mobilelogin {
    display: none;
}

.banner-button2 {
    background-image: linear-gradient(to right, #FF512F 0%, #db1528 51%, #FF512F 100%);
    margin: 10px;
    padding: 5px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    border: none;
}

.banner-button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.banner-button2:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}


a {
    text-decoration: none;
}

.title_home {
    color: #db1528;
}

.banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.payment-option {
    cursor: pointer;
}

.heading {
    position: relative;
}

@media screen and (max-width:425px) {
.banner-content-wrapper {
    padding:0px !important;
}
}
span.underline {
    left: 26%;
    position: absolute;
    width: 50%;
    z-index: 9;
    height: 3px;
    background: #DC3545 !important;
    bottom: 0;
}

span.underline2 {
    left: 40%;
    position: absolute;
    width: 20%;
    z-index: 9;
    top: -14px;
    height: 1px;
    background: #DC3545 !important;
}

h1.section-heading.text-uppercase {
    position: relative;
}


.border-1 {
    border-width: 1px !important;
}

.border {
    border: 1px solid #dee2e6 !important;
}

img.logo {
    width: 145px;
}

/* Footer */
.text-center.my-3.footer {
    position: relative;
}

.made-love {
    color: rgb(236, 81, 81);
    font-size: 18px;
    font-weight: 600;
}

p.text-light.mb-0 {
    align-items: center;
    display: flex;
}

.icon-part {
    text-decoration: none;
}

.icon-sm {
    height: 30px;
    width: 30px;
    background-color: rgb(66, 66, 66);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-sm .icons {
    color: #DC3545;
    text-decoration: none;
}

.pricing-image-home img {
    opacity: .9;
    width: 100%;
    border-radius: 7px;
}

/* get nft section */
.deep-bg {
    background-image: linear-gradient(to right, #FF512F 0%, #db1528 51%, #FF512F 100%);
    opacity: .7;
    margin: 60px 0;
    height: 516px;
    border-radius: 50px 0px 50px 0px;
}

h1.home_flight_heading {
    text-align: right;
    padding-right: 50px;
    line-height: 58px;
}

p.top-border {
    font-size: 22px !important;
    border-top: 1px solid goldenrod;
    margin-bottom: 40px !important;
}

p.top-border.dif-color {
    color: gold;
    font-size: 28px !important;
    font-weight: 700;
}

nav.navbar.navbar-expand-lg.navbar-dark {
    background: #000;
    position: fixed;
    width: 100%;
    opacity: .9;
    z-index: 9999999;
}

.banner {
    padding: 100px 20px 0px 20px;
}

.navitem {
    font-size: 0.88rem;
}

.pt-high.container {
    padding: 107px 20px 50px 20px !important;
    overflow: hidden;
}

/* search ticket  */

.searchDiv {
    margin-top: 5rem !important;
}

.fromto {
    margin-bottom: 0px;
    margin-top: -30px;
    color: #444242;
    font-size: 17px;
}

.ticket_image_wrapper {
    background-image: url("https://i.ibb.co/PZM6ZkP/flytickit-1.png");
    background-size: 1000px;
    width: 100%;
    height: 470px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

 

.position_ticket {
    position: absolute;
    font-weight: 700;
    text-transform: capitalize;
}

/* modal css  */
.swal-content {
    padding: 0 20px;
    margin-top: 9px;
    font-size: 15px;
    overflow-wrap: break-word;
    color: white;
  }
  .link_hash {
    color: white;
  }
  .modal_class{
    background-color: #0c2347;
  }
  .swal-modal{
    background-color: #0c2347;
  }
  .modal_class_success .swal-icon::before {
    background-color: transparent;
  }
  
  .modal_class_success .swal-icon::after {
    background-color: transparent;
  }
  .swal-icon--success__hide-corners {
    background-color: transparent;
  }
  .success {
    color: #FF343F;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
  }

@media  screen and (min-width:1190px) {
    .from {
        left: 10%;
        top: 50%;
    }
}

.to {
    top: 50%;
    left: 41%;
}

.position_ticket {
    max-width: 147px !important;
    font-size: 15px;
}


.ticket_right.d-flex {
    position: absolute;
    right: 8%;
    top: 161px;
    font-size: 14px !important;
    font-weight: 700;
}

p.to-right.mb-0 {
    position: absolute;
    right: 32px;
    text-align: center;
    top: 70px;
    min-width: 239px !important;
}

p.from-right.mb-0 {
    position: absolute;
    right: 32px;
    top: -7px !important;
    text-align: center;
    min-width: 239px !important;
}

p.ticket_to.mb-0 {
    right: 140px;
    position: absolute;
    top: 34px !important;
    margin: -2px 0;
    color: #C74B91 !important;
    font-size: 22px !important;
}

.ticket_color {
    color: #C74B91 !important;
}

.ticket_color2 {
    color: #C74B91 !important;
    font-size: 22px !important;
}

.tickit_name_wraper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 0 15px;
}

.ticket_serial {
    left: 52%;
    position: absolute;
    transform: rotate(-90deg);
    bottom: 133px;
    font-weight: 600;
}

.ticket_nft {
    right: 35%;
    position: absolute;
    transform: rotate(-90deg);
    bottom: 97px;
    font-weight: 600;
}

@media only screen and (min-width:1400px) {
    .from {
        left: 16%;
        top: 50%;
    }

    .ticket_right.d-flex {
        right: 13%;

}
.banner-content-wrapper {
    padding: 74px 30px;
}
 }

@media only screen and (max-width:1024px) {
    .ticket_image_wrapper {
        background-size: 892px;
        height: 399px;
    }

    .position_ticket {
        max-width: 147px !important;
        font-size: 14px;
    }

    .from {
        top:50% !important;
        left: 6%;
    }

    .to {
        top:50% !important;
        left: 39%;
    }
    .ticket_right.d-flex {
        right: 2%;
        top: 125px;}
    
}

@media only screen and (max-width:768px) {
    .ticket_image_wrapper {
        background-size: 692px;
        height: 299px;
    }

    .position_ticket {
        max-width: 144px !important;
        font-size: 12px;
    }

    .from {
        top:50% !important;
        left: 4%;
    }

    .to {
        top:50% !important;
        left: 39%;
    }
    .ticket_right.d-flex {
        right: -25px;
        top: 74px;
    }
}


@media screen and (max-width:425px) {

    .ticket_image_wrapper {
        background-size: 370px;
        height: 176px;
    }

    h3.ticket_color.text-center {
        font-size: 16px !important;
    }

    a.text-center.banner-button.text-decoration-none {
        font-size: 13px;
        padding: 12px 26px;
    }

    .text-center.ticket_btn {
        font-size: 14px;
    }



    /* -----------positioning------------- */

    p.fromto.ticket_color2 {
        font-size: 0.45rem !important;
    }
    .from.position_ticket {
        top: 84px !important;
        left: 27px;
    }
    .position_ticket {
        max-width: 77px !important;
    }
    
    .to.position_ticket {
        top: 84px !important;
        font-size: 0.45rem !important;
    }
    .from.position_ticket {
        top: 84px !important;
        font-size: 0.45rem !important;
    }
    .ticket_nft {
        font-size: 0.45rem !important;
        right: 39%;
        bottom: 38px;
    }
    
    .ticket_serial{
         font-size: 0.45rem !important;
         right: 25%;
         bottom: 71px;
    }


p.ticket_to.mb-0 {
    font-size: 0.45rem!important;
}

.ticket_right.d-flex {
    font-size: 0.45rem !important;
    right: -32px;
    top: 49px;
}
p.from-right.mb-0 {
    right: 49px;
    top: 0px !important;
    min-width: 120px !important;
}
p.to-right.mb-0 {
    right: 51px;
    top: 39px;
    min-width: 120px !important;
}
p.ticket_to.mb-0 {
    right: 106px;
    top:16px !important;
}

}

@media screen and (max-width:375px) {
    .ticket_image_wrapper {
        background-size: 310px;
        height: 156px;
    }

    a.text-center.banner-button.text-decoration-none {
        font-size: 13px;
        padding: 10px 20px;
    }

}

@media screen and (max-width:320px) {
    .ticket_image_wrapper {
        background-size: 274px;
        height: 141px;
    }
}


/* -----------ideaa------- */

.bg-idea {
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: .8;
    background-image: linear-gradient(to right, #FF512F 0%, #db1528 51%, #FF512F 100%);

}

.idea-video {
    border-left: 2px solid #fff;
    padding: 50px;
}

.idea-input.text-white.d-flex {
    padding: 10px 80px;
}

@media screen and (max-width:425px) {
    .idea-video {
        padding: 30px;
        border-top: 2px solid #fff !important;
        border-left: none !important;
        text-align: center !important;
    }

    .about_content {
        padding: 0 20px;
    }

    .idea-input.text-white.d-flex {
        padding: 10px 17px;
    }

}

/*------------- wallet?--------------- */
.titleWallet {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: end;
}

.alertWalletDiv {
    margin-top: -2.5rem;
}

.walletIcon {
    width: 40px;
}

.contents {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #a2a2a2;
    text-align: center;
    margin-bottom: 0rem;

}

.contentDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.walletDiv span {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2rem;
    font-weight: bold;
}

.walletDiv {
    cursor: pointer;
    border: none;
    text-align: center;
    padding-top: 26px;
    color: #a2a2a2;
    font-family: Montserrat;
    font-weight: bold;
    background-color: #060c13 !important;
}

.closeBtn {
    display: flex;
    align-items: center;
    justify-content: end;
}



.imgWallet {
    width: 50px !important;
    margin: 0 auto;
}

.dialogWallet {
    background-color: #060c13;
    color: white;
}

.dialogDiv {
    border-radius: 20px;
}

.walletName {
    font-size: 1rem;
    color: #a2a2a2;

}

.walletFont {
    margin-right: 6px;
}

.contents1 {
    color: #a2a2a2;

}

.contents1:hover {
    color: #fff;

}

.walletdiv {
    display: flex;
    align-items: center;
    justify-content: end;
}

.connectMenu {
    border: none;
    background-color: rgb(237, 41, 41);
    color: white;
    padding-top: 5px;
    border-radius: 5px;
    cursor: pointer;
}


/*---------- swal?-------------- */
.swal-title {
    color: rgb(218, 60, 60);
}

.swal-text {
    color: white;
}

.swal-content {
    padding: 0 20px;
    margin-top: 9px;
    font-size: 15px;
    overflow-wrap: break-word;
    color: white;
}

.link_hash {
    color: white;
}

.modal_class {
    background-color: #01070ff4;
}

.swal-modal {
    background-color: #01070ffd;
}

.modal_class_success .swal-icon::before {
    background-color: transparent;
}

.modal_class_success .swal-icon::after {
    background-color: transparent;
}

.swal-icon--success__hide-corners {
    background-color: transparent;
}

.success {
    color: #FF343F;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .walletName {
        font-size: 0.6rem;
    }

    .contents {
        font-size: 0.8rem;
    }

    .imgWallet {
        width: 45px;
        margin: 0 auto;
    }

    .content {
        margin-left: 1rem;
    }

    .walletdiv {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:425px) {
    .pricing-content {
        padding: 30px;
        border-top: 2px solid #fff !important;
        border-left: none !important;
    }

    .pricing-image.w-100 img {
        height: 290px !important;
    }

    .pricing-image-content {
        text-align: center !important;
    }

    .d-flex.justify-content-center.gap-3.flex-row {
        flex-direction: column !important;
    }

    .flight_content {
        text-align: center;
    }

    span.underline2 {
        left: 21%;
        position: absolute;
        width: 59%;
        z-index: 9;
        top: -14px;
        height: 1px;
        background: #DC3545 !important;
    }
.theme-bg{
    background: #DC3545 !important;
}
.theme-color{
    color: #DC3545 !important;
}
    p.text-light.mb-0 {
        display: flex;
        justify-content: center;
    }

    h1.home_flight_heading {
        text-align: center !important;
        padding-right: 0px !important;
        line-height: 36px !important;
        padding-top: 12px;
    }

    p.top-border {
        font-size: 17px !important;
        margin-bottom: 20px !important;
    }

    p.top-border.dif-color {
        font-size: 20px !important;
    }


    .social_link_wrapper.d-flex.justify-content-center.gap-3 {
        gap: 4px !important;
    }

    .social_link1.d-flex.gap-3 {
        gap: 7px !important;
    }

    .social_link2.d-flex.gap-3 {
        gap: 7px !important;
    }

}
.textLeft{
    text-align: left !important;
}
.swal-button {
    background-color: #FF512F;
    border: none !important;
}
.swal-modal{
background-color: rgb(23, 22, 22);
}
@media screen and (max-width:375px) {
    .social_link_wrapper.d-flex.justify-content-center.gap-3 {
        align-items: center;
        flex-direction: column;
    }

    .social_link1.d-flex.gap-3 {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 320px) {
    p.top-border {
        font-size: 16px !important;
        margin-bottom: 14px !important;
    }
}

@media only screen and (width:768px) {
    h1.home_flight_heading {
        line-height: 40px;
        padding-right: 20px;
    }

    p.top-border {
        font-size: 18px !important;
        border-top: 1px solid goldenrod;
        margin-bottom: 28px !important;
    }

    p.top-border.dif-color {
        font-size: 26px !important;
    }

}

@media only screen and (max-width:768px) {
    .pclogin {
        display: none;
    }

    .mobilelogin {
        display: block;
    }

    .rounded {
        margin-left: 1.8rem;
    }

}